<web-app>
<servlet>
<servlet-name>first</servlet-name>
<servlet-class>com.app.Doctor</servlet-class>
</servlet>
<servlet>
<servlet-name>second</servlet-name>
<servlet-class>com.app.Patient</servlet-class>
</servlet>
<servlet>
<servlet-name>third</servlet-name>
<servlet-class>com.app.Appointment</servlet-class>
</servlet>
<servlet>
<servlet-name>forth</servlet-name>
<servlet-class>com.app.DoctorLogin</servlet-class>
</servlet>
<servlet>
<servlet-name>five</servlet-name>
<servlet-class>com.app.PatientLogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>first</servlet-name>
<url-pattern>/adddoctor</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>second</servlet-name>
<url-pattern>/addpatient</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>third</servlet-name>
<url-pattern>/addappointment</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>forth</servlet-name>
<url-pattern>/doctor</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>five</servlet-name>
<url-pattern>/patient</url-pattern>
</servlet-mapping>
</web-app>